<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html" style="font-size: 25px">Encuéntrelo</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
                <div class="btn-group">
                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" style="margin-top: 5px">
                        <i class="fa fa-user fa-fw" style="font-size: 20px; color: #777;"></i><a style="color: #777"> Bienvenido Mario</a>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a href="">Notificaciones</a></li>
                      <li><a href="panel.html">Mi Panel</a></li>
                      <li><a href="#">Cerrar sesión</a></li>
                    </ul>
                </div>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
</nav>