<hgroup class="mb20">
	<h1>Resultados de Búsqueda</h1>
	<h2 class="lead"><strong class="text-danger">3</strong> resultados encontrados para <strong class="text-danger">Lorem</strong></h2>
	<div style="margin-bottom: 25px; width:400px" class="input-group">
		<span class="input-group-addon"><i class="fa fa-sort"></i> Ordenar</span>
		<select class="form-control" name="comune">
			<option value="">Recomendaciones de Amigos </option>
			<option value="">Por Nº recomendaciones</option>
		</select>                                  
	</div> 
</hgroup>
<section class="col-xs-12 col-sm-6 col-md-12">
	<h3><a href="#" title="">Juanito Peres Perez</a></h3>
	<article class="search-result row">
		<div class="col-xs-12 col-sm-12 col-md-2">
			<a href="#" title="Lorem ipsum" class="thumbnail"><img src="http://placekitten.com/100/200" alt="Lorem ipsum" /></a>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-4">
			<img src="img/recomendado.png" class="img-responsive quality-bar center-block"/>
			<p class="text-center">Proveedor destacado </p>
			<h5> En los últimos 3 meses:</h5>
			<p>Lo solicitaron 7 veces </p>
			<p><a href="#">5 Recomendaciones</a></p>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-3 excerpet">
			<h5> Lo recomiendan: </h5>
			<ul>
				<li><i class="fa fa-user"></i><a href="#"> Juan Mena</a></li>
				<li><i class="fa fa-user"></i><a href="#"> Pablito los palotes</a></li>
				<li><i class="fa fa-user"></i><a href="#"> Alam Brito</a></li>
				<li><a href="#"> Y otros 2 mas  </a></li>
			</ul>
		</div>
		<div class="col-md-3">
			<br>
			<a class="btn btn-warning btn-lg" data-toggle="modal" data-target="#contact" data-original-title>
				Ver Datos
			</a>
		</div>
		<span class="clearfix borda"></span>
	</article>
</section>
<section class="col-xs-12 col-sm-6 col-md-12">
	<h3><a href="#" title="">Otro servicio</a></h3>
	<article class="search-result row">
		<div class="col-xs-12 col-sm-12 col-md-2">
			<a href="#" title="Lorem ipsum" class="thumbnail"><img src="http://placekitten.com/100/200" alt="Lorem ipsum" /></a>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-4">
			<img src="img/recomendado.png" class="img-responsive quality-bar center-block"/>
			<p class="text-center">Proveedor destacado </p>
			<h5> En los últimos 3 meses:</h5>
			<p>Lo solicitaron 5 veces </p>
			<p><a href="#">5 Recomendaciones</a></p>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-3 excerpet">
			<h5> Lo recomiendan: </h5>
			<ul>
				<li><i class="fa fa-user"></i><a href="#"> Luchito Mono</a></li>
				<li><i class="fa fa-user"></i><a href="#"> Juan Ito</a></li>
				<li><i class="fa fa-user"></i><a href="#"> Alam Brito</a></li>
				<li><a href="#"> Y otros 2 mas  </a></li>
			</ul>
		</div>
		<div class="col-md-3">
			<br>
			<a class="btn btn-warning btn-lg" data-toggle="modal" data-target="#contact" data-original-title>
				Ver Datos
			</a>
		</div>
		<span class="clearfix borda"></span>
	</article>
</section>
<section class="col-xs-12 col-sm-6 col-md-12">
	<h3><a href="#" title="">Otro servicio</a></h3>
	<article class="search-result row">
		<div class="col-xs-12 col-sm-12 col-md-2">
			<a href="#" title="Lorem ipsum" class="thumbnail"><img src="http://placekitten.com/100/200" alt="Lorem ipsum" /></a>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-4">
			<img src="img/neutro-nuevo.png" class="img-responsive quality-bar center-block"/>
			<p class="text-center">Proveedor nuevo </p>
			<h5> En los últimos 3 meses:</h5>
			<p>Lo solicitaron 3 veces </p>
			<p><a href="#">1 Recomendación</a></p>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-3 excerpet">
			<h5> Lo recomiendan: </h5>
			<ul>
				<li><i class="fa fa-user"></i><a href="#"> Luis col</a></li>

			</ul>
		</div>
		<div class="col-md-3">
			<br>
			<a class="btn btn-warning btn-lg" data-toggle="modal" data-target="#contact" data-original-title>
				Ver Datos
			</a>
		</div>
		<span class="clearfix borda"></span>
	</article>
</section>

<div class="row">
    <div class="text-center">
		<ul class="pagination pagination-large">
			<li class="active" ><span>1</span></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">5</a></li>
			<li><a href="#">6</a></li>
			<li><a href="#">7</a></li>
			<li><a href="#">»</a></li>	
		</ul>
	</div>
</div>
<div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="contactLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="panel-title" id="contactLabel"><span class="glyphicon glyphicon-info-sign"></span> Juanito Peres Perez</h4>
			</div>
				<div class="modal-body" style="padding: 5px;">
					<div class="alert alert-success alert-dismissable exito" style="display:none;">
					  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					  <strong>Enviado! </strong> Revisaremos los datos, gracias por informar del problema.
					</div>
					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-4" style="padding-bottom: 10px;">
							<img src="img/chart_bar.png" class="img-responsive quality-bar"/>
							<p>Proveedor destacado </p>
							<p><a href="#">10 Recomendaciones</a></p>							
						</div>
						<div class="col-lg-8 col-md-8 col-sm-8" style="padding-bottom: 10px;">
							<form class="form-inline" role="form">
							<div class="row reportar" style="display:none;">
								<p> Selecciona que datos estan erroneos: </p>
							</div>
							<div class="row">
								<img class="detailsIcon" src="img/map.png"/> Calle falsa #123 Santiago
								<div class="checkbox reportar" style="display:none;">
								    <label>
								      <input type="checkbox"> 
								    </label>
								</div>
							</div>
							<div class="row">
								<img class="detailsIcon" src="img/phone.png"/> 8-8283243
								<div class="checkbox reportar" style="display:none;">
								    <label>
								      <input type="checkbox"> 
								    </label>
								</div>
							</div>
							<div class="row">
								<img class="detailsIcon" src="img/email.png"/> asdf@gmail.com <i class="fa fa-exclamation-triangle" style="color: #F5D72C; "></i>
								<div class="checkbox reportar" style="display:none;">
								    <label>
								      <input type="checkbox"> 
								    </label>
								</div>
							</div>
							<br>
							<div class="row reportar"  style="display:none;">
								<p>Comentario: (300 caracteres max)</p>
								<textarea class="form-control" rows="3" style="width: 80%;"></textarea>
							</div>
							<br>
							<div class="row">
								<button class="btn btn-success">Contactar</button>
								<button class="btn btn-danger" id="boton_reportar">Reportar datos erroneos</button>
							</div>
							</form>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12" style="padding-bottom: 10px;">
						<h4>Horario de atención </h4>
							<p>Lunes a viernes : 10:00 - 16:00 </p>
							<strong> Sabado: 10:00 - 15:00</strong>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12" style="padding-bottom: 10px;">
						<h4>Descripción </h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tincidunt est at tortor consectetur, vitae consectetur tortor rutrum.
								Fusce sit amet orci faucibus, gravida nisl nec, mollis turpis. 
								Nulla pretium turpis adipiscing congue dictum. Ut dapibus risus ante, nec dignissim elit hendrerit metus.
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12" style="padding-bottom: 10px;">
							<h4> Recomendaciones </h4>
								<div style="margin-bottom: 25px; width:400px" class="input-group">
									<span class="input-group-addon"><i class="fa fa-sort"></i> Ordenar</span>
									<select class="form-control" name="comune">
										<option value="">Recomendaciones de amigos</option>
										<option value="">Fecha </option>
									</select>                                  
								</div> 
							<div class="tabbable" id="tabs-133906"> <!-- Only required for left/right tabs -->
								<ul class="nav nav-tabs">
									<li class="active"><a href="#panel-recomendado" data-toggle="tab" >Lo recomiendan</a></li>
									<li class=""><a href="#panel-neutro" data-toggle="tab" >Neutro</a></li>
									<li class=""><a href="#panel-no_recomendado" data-toggle="tab" >Debe mejorar</a></li>
								</ul>
								<div class="tab-content">
									<div class="tab-pane active" id="panel-recomendado">
										<div class="recommendation close_recommendation">
											<div class="row">
												<div class="col-md-9">
													<h5> Juan Mena</h5>
													<i class="fa fa-facebook" style="color: #3b5998"> Amigos en Facebook</i> 
												</div>
												<div class="col-md-3">
													<p class="text-right"> hace 2 dias</p>
												</div>
											</div>
											<div class="row">
												<div class="col-md-3">
													<img src="http://placekitten.com/100/100">
												</div>
												<div class="col-md-9">
													<p>
													Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nibh eros, viverra eget purus vitae, semper pulvinar nulla. 
													Nunc pulvinar luctus iaculis. Proin tellus ligula, bibendum ultricies iaculis sed, semper nec purus. Morbi ut iaculis lorem,
													vitae pellentesque massa. In eget libero cras amet.
													</p>
												</div>
											</div>
										</div>
									</div>
									<div class="tab-pane" id="panel-neutro">
										<p contenteditable="true"></p>
									</div>
									<div class="tab-pane" id="panel-no_recomendado">
										<p contenteditable="true"></p>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>  
				<div class="panel-footer" style="margin-bottom:30px;">

						<!--<span class="glyphicon glyphicon-ok"></span>-->
						<!--<span class="glyphicon glyphicon-remove"></span>-->
					<button style="float: right;" type="button" class="btn btn-primary btn-close" data-dismiss="modal">Cerrar</button>
				</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$('#boton_reportar').on("click",function(event){
		event.preventDefault();
		if($(this).html() != "ENVIAR"){
			$('.reportar').css("display","");
			$(this).html("ENVIAR");
		}
		else{
			$(".exito").css("display","");
			$(".reportar").css("display","none");
			$(this).css("display","none");
		}
	});	
</script>
